html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(117, 117, 117);
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1200px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: relative;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .header {
    height: 90px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo--dark {
  color: rgb(0, 0, 0);
}
.logo--light {
  color: #fff;
}
.logo span {
  color: rgb(33, 150, 243);
}
@media (min-width: 768px) {
  .logo {
    margin-right: 87px;
  }
}
@media (min-width: 1600px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu__btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu__btn .icon-cross {
  display: none;
}
.menu__btn.is-open .icon-cross {
  display: block;
}
.menu__btn.is-open .icon-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.menu__container {
  display: none;
}
.menu__container.is-open {
  display: block;
  border-top: 2px solid #ececec;
  z-index: 99;
}
@media screen and (max-width: 767px) {
  .menu__container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;
    text-align: left;
    background-color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation__list {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}

.navigation__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
.navigation__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 32px;
}
.navigation__item .navigation__link {
  color: rgb(33, 33, 33);
}
@media screen and (min-width: 768px) {
  .navigation__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgb(33, 33, 33);
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .navigation__link--active {
    position: relative;
    color: rgb(33, 150, 243);
  }
  .navigation__link--active::after {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: -38px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(33, 150, 243);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: rgb(33, 150, 243);
  }
}
.studio-contacts {
  margin-top: 302px;
}
@media screen and (min-width: 768px) {
  .studio-contacts {
    padding: 0;
    margin-top: 0;
    margin-left: 90px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1600px) {
  .studio-contacts {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 310px;
  }
}

.studio-contacts__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
}
.studio-contacts__item + .studio-contacts__item {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .studio-contacts__item {
    text-align: left;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgb(117, 117, 117);
  }
  .studio-contacts__item + .studio-contacts__item {
    margin-top: 10px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1600px) {
  .studio-contacts__item {
    font-size: 14px;
    line-height: 1.14;
  }
  .studio-contacts__item + .studio-contacts__item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.studio-contacts__link {
  text-decoration: none;
  color: rgb(117, 117, 117);
}
.studio-contacts__link:hover, .studio-contacts__link:focus {
  color: rgb(33, 150, 243);
}

.studio-contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .studio-contacts__icon {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
  }
  .mail {
    width: 16px;
    height: 12px;
  }
  .tel {
    width: 10px;
    height: 16px;
  }
  .studio-contacts__link {
    display: flex;
    text-align: center;
    align-items: center;
  }
}
.studio-messengers {
  display: flex;
  justify-content: left;
  padding: 0;
  margin-left: 40px;
  margin-top: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.studio-messengers .studio-messengers__link {
  color: rgb(33, 150, 243);
}
@media screen and (min-width: 768px) {
  .studio-messengers {
    display: none;
  }
}

.studio-messengers__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero_overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    height: 600px;
    max-width: 1600px;
  }
}
.hero .container {
  padding: 118px 60px;
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1600px) {
  .hero .container {
    padding: 200px 252px;
  }
}

.hero__tittle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .hero__tittle {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1600px) {
  .hero__tittle {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__oderring-button {
  min-width: 200px;
  align-items: center;
  margin-top: 30px;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}
.hero__oderring-button:hover, .hero__oderring-button:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 1600px) {
  .hero__oderring-button {
    min-width: 215px;
    padding: 10px 30px;
  }
}

.features__list {
  display: block;
  margin-top: 60px;
  margin-bottom: 94px;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1600px) {
  .features__list {
    flex-wrap: nowrap;
  }
}

.features__tittle {
  color: rgb(33, 33, 33);
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__content {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.features__item {
  width: 100%;
}
.features__item:not(:last-child) {
  margin-bottom: 30px;
}
.features__item::before {
  content: "";
  display: block;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
  .features__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1600px) {
  .features__item {
    width: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.attantion::before {
  background-color: #f5f4fa;
  background-image: url(../imges/attantion.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.punctuality::before {
  background-color: #f5f4fa;
  background-image: url(../imges/punctuality.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.planning::before {
  background-color: #f5f4fa;
  background-image: url(../imges/planning.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.technologies::before {
  background-color: #f5f4fa;
  background-image: url(../imges/technologies.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 1599px) {
  .working {
    display: none;
  }
}
.working {
  padding-bottom: 94px;
}

.working__tittle {
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}

.working__list {
  padding-left: 0;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
}

.working__thumb {
  position: relative;
  min-width: 370px;
  height: 294px;
}
.working__thumb:not(:last-child) {
  margin-right: 30px;
}

.working__img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.working__description {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  width: 100%;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(245, 244, 250);
}
@media screen and (min-width: 1600px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__tittle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}
@media screen and (min-width: 1600px) {
  .team__tittle {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__set {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .team__set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1600px) {
  .team__set {
    flex-wrap: wrap;
  }
}

.team__thumb {
  height: 622px;
  width: 450px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team__thumb:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .team__thumb {
    height: 536px;
    width: 354px;
  }
  .team__thumb:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1600px) {
  .team__thumb {
    margin: 0;
    height: 428px;
    width: 270px;
  }
  .team__thumb:nth-last-child(n) {
    margin-bottom: 0;
  }
}

.team__img {
  width: 450px;
  height: 460px;
  display: block;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}
@media (min-width: 1600px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.team__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}

.team__position {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.messengers {
  display: flex;
  padding: 0 122px;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .messengers {
    padding: 0 74px;
  }
}
@media screen and (min-width: 1600px) {
  .messengers {
    padding: 0 32px;
  }
}

.messengers__item {
  width: 44px;
  height: 44px;
}

.messengers__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: rgb(117, 117, 117);
  fill: currentColor;
}
.messengers__link:hover {
  background-color: rgb(33, 150, 243);
  fill: #fff;
}

.messengers__icon {
  width: 20px;
  height: 20px;
}

.clients__tittle {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}
@media screen and (min-width: 1600px) {
  .clients__tittle {
    margin-top: 94px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 94px;
  justify-content: space-between;
}
@media screen and (min-width: 1600px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  list-style-type: none;
  display: flex;
  height: 92px;
  width: 210px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}
.clients__item:hover {
  border: 1px solid rgb(33, 150, 243);
}
@media (min-width: 768px) {
  .clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1600px) {
  .clients__item {
    width: 170px;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.clients__item:hover .clients__logo {
  fill: rgb(33, 150, 243);
}

.footer {
  min-height: 252px;
  background-color: rgb(47, 48, 58);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1600px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .contacts-tablet {
    display: flex;
    justify-content: space-around;
  }
  .logo--light {
    margin-left: auto;
    margin-right: auto;
  }
}
.contacts {
  width: 231px;
  height: 132px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__set {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 1600px) {
  .contacts__set {
    text-align: left;
  }
}

.contact__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress {
  color: #fff;
}

.invitation {
  margin-top: 60px;
  width: 206px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .invitation {
    margin-top: 5px;
    margin-left: 70px;
  }
}
@media screen and (min-width: 1600px) {
  .invitation {
    margin-top: 12px;
    text-align: left;
  }
}

.invitation__messengers {
  margin-top: 20px;
  padding: 0;
}

.invitation__link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.invitation__link:hover {
  background-color: rgb(33, 150, 243);
  fill: #fff;
}

.footer-tittles {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.sighn-up {
  margin-top: 60px;
}
@media screen and (min-width: 1600px) {
  .sighn-up {
    margin-top: 12px;
    width: 570px;
    height: 86px;
    text-align: left;
  }
}

.sighn-up__form {
  margin-top: 20px;
}
@media screen and (min-width: 1600px) {
  .sighn-up__form {
    display: flex;
    justify-content: space-between;
  }
}

.sighn-up__input {
  margin-left: auto;
  margin-right: auto;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  color: #fff;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1600px) {
  .sighn-up__input {
    margin: 0;
  }
}

.sighn-up__button {
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}
.sighn-up__button:hover, .sighn-up__button:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 1600px) {
  .sighn-up__button {
    margin: 0;
  }
}

.sighn-up__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: rgb(245, 244, 250);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close {
  width: 11px;
  height: 11px;
}
.modal__close:hover, .modal__close:focus {
  fill: rgb(33, 150, 243);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__tittle {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}

.modal__form {
  margin-top: 12px;
}

.modal__set {
  display: block;
  padding: 0;
  margin: 0;
}

.modal__label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 58px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__label:not(:last-child) {
  margin-bottom: 10px;
}

.modal__input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 11px 11px 11px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: rgb(245, 244, 250);
}
.modal__input:focus, .modal__input:hover {
  outline: none;
  border: 1px solid rgb(33, 150, 243);
}

.modal__coment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 4px;
}

.order-coment {
  padding-left: 12px;
  height: 120px;
  resize: none;
}
.order-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: rgb(33, 150, 243);
}

.policy {
  display: block;
  position: relative;
  align-items: center;
  padding-left: 23px;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .policy {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.policy__check {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
}

.policy__checkbox {
  appearance: none;
}

.policy__checkbox:checked + .policy__check {
  background-color: rgb(33, 150, 243);
  background-image: url(/imges/check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.policy__link {
  color: rgb(33, 150, 243);
  text-decoration: underline;
}

.modal__submit {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: rgb(33, 150, 243);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.modal__submit:hover, .modal__submit:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__tittle {
  display: none;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 0;
  margin: 0;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.filter__item:first-child {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filter__item:first-child {
    margin-bottom: 0;
  }
}

.filter__input {
  appearance: none;
}

.filter__btn {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  cursor: pointer;
}
.filter__btn:not(:last-child) {
  margin-right: 8px;
}
.filter__btn:hover, .filter__btn:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}
.filter__input:checked + .filter__btn {
  color: #fff;
  background-color: rgb(33, 150, 243);
}

.portfolio__set {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__item {
  width: 450px;
  height: 404px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.portfolio__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
  }
  .portfolio__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1600px) {
  .portfolio__item {
    width: 370px;
  }
  .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
.portfolio__item:hover, .portfolio__item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hidden-thumb {
  position: relative;
  height: 294px;
  width: 450px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hidden-thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .hidden-thumb {
    width: 370px;
  }
}

.project__img {
  display: block;
  width: 450px;
  height: 294px;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 768px) {
  .project__img {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .project__img {
    width: 370px;
  }
}

.project__tittle {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: rgb(33, 33, 33);
}

.project__class {
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
}

.project__description {
  position: absolute;
  top: 294px;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover .project__description {
  transform: translateY(-294px);
}/*# sourceMappingURL=main.css.map */