html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    color: $contentColor;
}

li {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

a {
    text-decoration: none;
}
