$containerWidth: 1200px;
$containerPadding: 0 15px;
$contentColor: rgba(117, 117, 117, 1);
$headingColor: rgba(33, 33, 33, 1);
$darBackground: rgba(47, 48, 58, 1);
$lightBackground: rgba(245, 244, 250, 1);
$interactiveColor: rgba(33, 150, 243, 1);