.clients__tittle {
    margin-top: 60px;
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.17;

    text-align: center;
    letter-spacing: 0.03em;

    color: $headingColor;

    @media screen and (min-width: 1600px) {
    margin-top: 94px;
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 94px;
    justify-content: space-between;

    @media screen and (min-width: 1600px) {
        flex-wrap: nowrap;
    }
}

.clients__item {
    list-style-type: none;
    display: flex;
    height: 92px;

    width: 210px;

    align-items: center;
    justify-content: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    &:not(:nth-last-child(2)) {
        margin-bottom: 30px;
    }

    &:hover {
        border: 1px solid $interactiveColor;
    }
    
    // @media (min-width: 768px) {
    //     width: calc(100%/3 - 90px);
    // }

    // @media (min-width: 1600px) {
    //     width: 210px;
    // }
}

.clients__logo {
    width: 106px;
    height: 60px;

    fill: currentColor;

    .clients__item:hover & {
        fill: $interactiveColor;
    }
}