.header,
.navigation,
.navigation__list,
.studio-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header {
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;

    border-bottom: 1px solid #ECECEC;
}

.logo {
    margin-right: 93px;

    font-family: "Raleway";

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    &--dark {
        color: rgba(0, 0, 0, 1);
    }

    &--light {
        color: #fff;
    }

    span {
        color: $interactiveColor;
    }
}

.navigation__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    letter-spacing: 0.02em;

    color: $headingColor;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.navigation__link {
    color: $headingColor;

    &--active {
        position: relative;

        color: $interactiveColor;
    }

    &--active::after {
        content: " ";
        position: absolute;

        left: 0px;
        bottom: -32px;

        display: block;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: $interactiveColor;
    }

    &:hover,
    &:focus {
        color: $interactiveColor;
    }
}

.studio-contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    letter-spacing: 0.02em;

    color: $contentColor;

    &+& {
        margin-left: 50px;
    }
}

.studio-contacts__link {
    text-decoration: none;

    color: $contentColor;

    &:hover,
    &:focus {
        color: $interactiveColor;
    }
}

.studio-contacts__icon {
    margin-right: 10px;

    fill: currentColor;
}

.mail {
    width: 16px;
    height: 12px;
}

.tel {
    width: 10px;
    height: 16px;
}