.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $lightBackground;

  @media screen and (min-width: 1600px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__tittle {
  margin: 0;
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;

  color: $headingColor;

  @media screen and (min-width: 1600px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.team__set {
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1600px) {
    flex-wrap: wrap;
  }
}

.team__thumb {
  height: 622px;
  width:100%;

  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    height: 536px;
    width: calc((100% - 15px * 2) / 2);

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1600px) {
    &:nth-last-child(n) {
      margin-bottom: 0;
    }

    margin: 0;

    height: 428px;
    width: calc((100% - 15px * 6) / 4);
  }
}

.team__img {
  width: 100%;
  height: 460px;

  display: block;

  object-fit: cover;
  object-position: center;

  @media (min-width: 768px) {
    width: 100%;
    height: 374px;
  }

  @media (min-width: 1600px) {
    width: 100%;
    height: 260px;
  }
}

.team__name {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: $headingColor;
}

.team__position {
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}

.messengers {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 206px;

  justify-content: space-between;
}

.messengers__item {
  width: 44px;
  height: 44px;
}

.messengers__link {
  display: flex;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  justify-content: center;
  align-items: center;

  color: $contentColor;
  fill: currentColor;

  &:hover {
    background-color: $interactiveColor;
    fill: #fff;
  }
}

.messengers__icon {
  width: 20px;
  height: 20px;
}
